<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- For more information on probing, visit https://msdn.microsoft.com/en-us/library/823z9h8w.aspx -->
      <probing privatePath="Plugins" />
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="HotBot" />
    <namespace name="HotBot.Core" />
    <assembly name="HotBot" />
    <assembly name="HotBot.Core" />
    <container>
      <!-- Types -->
      <register type="Commands.CommandEncoder"/>
      <register type="Commands.CommandListener" mapTo="Commands.SimpleCommandHandler"/>
      <register type="DataStore" mapTo="DbContextDataStore"/>
      <register type="Irc.IrcClient"/>
      <register type="Irc.IrcLogger"/>
      <register type="MessageBus" mapTo="DictionaryMessageBus"/>
      <register type="PluginManager" mapTo="ReflectionPluginManager"/>
      <register type="HotBot.TwitchBot"/>
      <!-- Config classes -->
      <register type="Commands.CommandConfig" mapTo="HotBot.MasterConfig"/>
      <register type="Irc.IrcClientConfig" mapTo="HotBot.MasterConfig"/>
    </container>

  </unity>
</configuration>