<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- For more information on probing, visit https://msdn.microsoft.com/en-us/library/823z9h8w.aspx -->
      <probing privatePath="Plugins" />
      <probing privatePath="Bin" />
      <!--TODO: Should this be here?-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="HotBot" />
    <assembly name="HotBot.Core" />
    <container>
      <register type="HotBot.Core.Commands.CommandManagerConfig, HotBot.Core" mapTo="HotBot.MasterConfig, HotBot">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>