<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- For more information on probing, visit https://msdn.microsoft.com/en-us/library/823z9h8w.aspx -->
      <probing privatePath="Plugins" />
      <probing privatePath="Bin" />
      <!--TODO: Should this be here?-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="HotBot.Core" />
    <assembly name="HotBot" />
    <assembly name="HotBot.Core" />
    <container>
      <!-- Types -->
      <register type="Commands.ChatCommandScanner">
        <lifetime type="singleton" />
      </register>
      <register type="Commands.CommandManager" mapTo="Commands.ReflectionCommandManager">
        <lifetime type="singleton" />
      </register>
      <register type="Irc.LiveChannel" mapTo="Irc.Impl.BasicLiveChannel" />
      <register type="Irc.IrcConnection" mapTo="Irc.Impl.BasicIrcConnection" />
      <register type="Irc.WhisperConnection" mapTo="Irc.Impl.BasicWhisperConnection" />
      <register type="Irc.TwitchConnector" mapTo="Irc.Impl.BasicTwitchConnector">
        <lifetime type="singleton" />
      </register>
      <register type="Irc.TwitchApi" mapTo="Irc.Impl.BasicTwitchApi">
        <lifetime type="singleton" />
      </register>
      <register type="Plugins.PluginManager" mapTo="Plugins.ReflectionPluginManager">
        <lifetime type="singleton" />
      </register>
      <register type="Plugins.PluginLoader" mapTo="Plugins.AssemblyPluginLoader">
        <lifetime type="singleton" />
      </register>
      <register type="MessageBus" mapTo="DictionaryMessageBus">
        <lifetime type="singleton" />
      </register>
      <register type="HotBot.TwitchBot, HotBot">
        <lifetime type="singleton" />
      </register>
      <!-- Config classes -->
      <register type="Commands.CommandManagerConfig" mapTo="HotBot.MasterConfig, HotBot">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>